.nav-wrapper {
  margin: 0 20px;
}

.create {
  width: 80%;
  margin: 50px auto;
}

.register {
  width: 50%;
  margin: 50px auto;
}

.login {
  width: 50%;
  margin: 50px auto;
}

@media only screen and (max-width: 500px) {
  .login {
    width: 80%;
    margin: 50px auto;
  }
}  

.comment strong{
  font-size: .9em;
}

#comTime {
  color: gray;
  font-size: 0.8em;
  margin-left: 30px;
}

#comText {
  font-size: 1em;
}

#comText p {
  padding: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.cardTitle {
  margin: 1em 2em;
}

.textColor {
  width: 100%;
  background-color: rgb(0,0,0,0.5) !important;
  padding: 0 !important;
  text-align: center;
}

.cardAuthor {
  margin-left: 2em;
}

.cardTime {
  color: gray;
  font-size: .8em;
}

.viewCard {
  height: 100% !important;
}

.viewCardImage { 
  height: 300px !important;
}

#userName { 
  color: teal;
  margin:0 10px;
}

.navIcons {
  font-size: 2em !important;
}

.userSpan {
  margin-top: 20px;
}

.aboutOuter {
  margin: 30px 5%;
}

.card.small {
  height: 250px !important;
}

.card-image {
  max-height: 70% !important;
}

.scroll-bar {
  height: 700px;
  overflow-y: scroll;
}

.brand-logo {
  font-family: monospace;
}

.page-footer {
  padding-top: 0 !important;
}

main {
  height: 88vh !important;
  overflow-y: scroll;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.loading {
  height: 79vh;
}